.color {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

.color > article{
    margin:1%;
    display: flex;
    justify-content: center;
}

.cursor{
    cursor: pointer;
}